:root {
  --neon-glow-color: hsl(177, 100%, 50%); /* Light blue color for neon glow */
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  margin: 0px;
  background-color: grey;
  background-image: url(store-front.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.neon-text {
  color: #fff; /* White text color */
  text-shadow: 0 0 5px #fff, /* White glow */ 0 0 10px #fff, /* Larger white glow */ 0 0 20px var(--neon-glow-color),
    /* Light blue outer glow */ 0 0 30px var(--neon-glow-color),
    /* Larger light blue outer glow */ 0 0 40px var(--neon-glow-color),
    /* Even larger light blue outer glow */ 0 0 50px var(--neon-glow-color),
    /* Largest light blue outer glow */ 0 0 60px var(--neon-glow-color); /* Super large light blue outer glow */
  /* font-size: 2em; Adjust size as needed */
  /* font-family: 'Your Font', sans-serif; Choose a suitable font */
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}

.header {
  height: 200px;
}

h1 {
  margin: 0px;
  font-size: 50px;
}

.header ul {
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 30px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 22px;
}

.header li {
  cursor: pointer;
}
/* .header li {
  background-color: rgb(80, 80, 80);
} */

.footer {
  height: 50px;
}

.bodyDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.orderNow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.95;
  align-items: center;
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: rgb(47, 47, 47);
  margin-bottom: 50px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 5px solid white;
  transition: background-color 0.3s, text-shadow 0.3s;
  box-shadow: 0 0 5px #fff, /* White glow */ 0 0 10px #fff, /* Larger white glow */ 0 0 20px var(--neon-glow-color),
    /* Light blue outer glow */ 0 0 30px var(--neon-glow-color),
    /* Larger light blue outer glow */ 0 0 40px var(--neon-glow-color),
    /* Even larger light blue outer glow */ 0 0 50px var(--neon-glow-color),
    /* Largest light blue outer glow */ 0 0 60px var(--neon-glow-color);
}

.orderNow:hover {
  background-color: rgb(61, 61, 61);
  text-shadow: 0 0 5px #fff, /* White glow */ 0 0 10px #fff, /* Larger white glow */ 0 0 20px var(--neon-glow-color),
    /* Light blue outer glow */ 0 0 30px var(--neon-glow-color),
    /* Larger light blue outer glow */ 0 0 40px var(--neon-glow-color),
    /* Even larger light blue outer glow */ 0 0 50px var(--neon-glow-color),
    /* Largest light blue outer glow */ 0 0 60px var(--neon-glow-color);
}
